<% content_for :head do %>
<%= stylesheet_link_tag    "heads", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'heads' %>
<%end%>
<div class="container">
      <script type="text/javascript">
        comun();
      </script>
			<div id="grid_12 contenidos">
				<div class="opcion1">
					<div class="grid_5 alpha model2">
						<a href="receta.html"><%= image_tag "roscon.jpg" %></a>
					</div>
					<div class="grid_7 omega model2">
						<a href="receta.html"><h3>Roscón de Reyes</h3></a>
						<p>Sorprende a los tuyos en navidades con un delicioso Roscón de Reyes Casero.</p>
					</div>
				</div>
				
 
				<div class="opcion2">
					<div class="grid_5 alpha model2">
						<a href="receta.html"><%= image_tag "pescado.jpg" %></a>
					</div>
					<div class="grid_7 omega model2">
						<a href="receta.html"><h3>Salmón al horno</h3></a>
						<p>Prepárate este plato tan sano y delicioso al mismo tiempo.</p>
					</div>
				</div>
 
				<div class="opcion3">
					<div class="grid_5 alpha model2">
						<a href="receta.html"><%= image_tag "tarta.jpg" %></a>
					</div>
					<div class="grid_7 omega model2">
						<a href="receta.html"><h3>Tarta de 3 chocolates</h3></a>
						<p>¿Qué mejor que una tarta de 3 chocolates para endulzarte en un día especial?</p>
					</div>
				</div>
			</div>
			<div class="grid_1 menu_slider">
				<ul id="icons" class="ui-widget ui-helper-clearfix">
					<li class="ui-state-default ui-corner-all next" title=".ui-icon-arrowthick-1-e"><span class="ui-icon ui-icon-arrowthick-1-e"></span></li>
					<li class="ui-state-default ui-corner-all prev" title=".ui-icon-arrowthick-1-w"><span class="ui-icon ui-icon-arrowthick-1-w"></span></li>
				</ul>
				
			</div>

			
		</div>
		<div class="clear"></div>
		<div class="efect container">
			<div class="grid_2 alpha model1" id="left">
				<%= image_tag("tartaleta.jpg", :class => "image") %></br>
				<a href="receta.html">Receta1</a>
			</div>
			<div class="grid_2 model1 center">
				<%= image_tag("carne.jpg", :class => "image") %></br>
				<a href="receta.html">Receta2</a>
			</div>
			<div class="grid_2 model1 center">
				<%= image_tag("verduras.jpg", :class => "image") %></br>
				<a href="receta.html">Receta3</a>
			</div>
			<div class="grid_2 model1 center">
				<%= image_tag("chocolate.jpg", :class => "image") %></br>
				<a href="receta.html">Receta4</a>
			</div>
			<div class="grid_2 omega model1" id="right">
				<%= image_tag("pasta.jpg", :class => "image") %></br>
				<a href="receta.html">Receta5</a>
			</div>
		</div>
		<div class="clear"></div>
