 <% @tricks.each do |trick| %>
			<div class="grid_4 alpha model3">
        <%= image_tag trick.imagen %>
      </div>
			<div class="grid_6 prefix_2 omega model3">
        <a href="#"><h1><%= trick.titulo %></h1></a>
        <p><%= trick.informacion %></p>
      </div>
<% end %>
