<% content_for :head do %>
<%= stylesheet_link_tag    "tricks", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'tricks' %>
<%end%>
<div class="grid_3 containerSubmenu">
      <script type="text/javascript">
        comun();
      </script>
			<div class="grid_3 alpha">
			<div id="radioset" >
					<div id="accordion">

						<h3>comunidades</h3>

						<div id="divs">
							<form name="sabiasque"  onclick="showHint()">
	
								<input type="radio" id="radio1" name="sabias" value="trucos" >
									<label for="radio1" id="radius">
										Trucos de cocina
									</label><br>
								<input type="radio" id="radio2" name="sabias" value="info">
									<label for="radio2">
										Informacion nutricional
									</label>
								<input type="radio" id="radio3" name="sabias" value="cocineros" >
									<label for="radio3" id="radius">
										Cocineros profecionales
									</label><br>
								<input type="radio" id="radio4" name="sabias" value="premios" >
									<label for="radio4" id="radius">
										Premios de cocinas
									</label><br>
	
							</form>
						</div>


						
					</div>
				</div>
			</div>
		</div>

<div class="grid_9 omega container" id="resultado">
      <%= render partial: "tricks" %>
</div>
