<%= form_for([@recipe,@recipe.comments.new]) do|f| %>
  
  <% if logged_in? %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'add' %>
  </div>
  <% else %>
     <%= link_to "Regístrate", "/signin" %>
		 <%= link_to "Login", "/login" %>
  <% end %>
<% end %>
