<% content_for :head do %>
<%= stylesheet_link_tag    "competitions", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'competitions' %>
<% end %>
<div class="grid_3 containerSubmenu">
      <script type="text/javascript">
        comun();
      </script>
			<div class="grid_3 alpha">

				<div id="radioset" >
					<div id="accordion">

						<h3>comunidades</h3>

						<div id="divs">
							<form name="comunidade" onclick="showHint()" >
	
								<input type="radio" id="radio1" name="comunidades" value="canarias" >
									<label for="radio1" id="radius">
										canarias
									</label><br>
								<input type="radio" id="radio2" name="comunidades" value="madrid">
									<label for="radio2">
										madrid
									</label>
								<input type="radio" id="radio3" name="comunidades" value="cataluña" >
									<label for="radio3" id="radius">
										cataluña
									</label><br>
								<input type="radio" id="radio4" name="comunidades" value="andalucia" >
									<label for="radio4" id="radius">
										andalucia
									</label><br>
	
							</form>
						</div>	
					</div>
				</div>
			</div>
		</div>

<div class="grid_9 omega container" id="resultado">
  <%= render partial: "competitions" %>
</div>
