<% @recipes.each do |recipe| %>
	<div class='container2'>
			<div class='grid_3 alpha imgRecetas'>
        <%= link_to image_tag(recipe.imagen), recipe %>
      </div>
      <div class='grid_6 prefix_3 omega model2'>
        <h1> <%= link_to recipe.titulo, recipe %> </h1>
        <p> <%= recipe.datos %> </p>
      	<div class='grid_6'>
				  <a class='grid_2 comentar' href='#'>Coméntala</a>
					<div class='grid_2 twitter'>
					  <a href="https://twitter.com/share" data-text="Holaaa" class="twitter-share-button" data-         lang="en">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					</div>
					<div class='grid_2 facebook'>
						<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FElRecetario&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35"></iframe>
					</div>
        </div>
      </div>
	</div>
  <% end %>
