<% content_for :head do %>
<%= stylesheet_link_tag    "recipes", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'recipes' %>
<%end%>
<div class="grid_3 containerSubmenu">
      <script type="text/javascript">
        comun();
      </script>
			<div class="grid_3 alpha">

				<div id="radioset" >
					<div id="accordion">
            <h3>Ingredientes</h3>

						<div id="divs">
            <form name="ingredientes"  onclick="showHint()">
								<input type="radio" id="radio1" name="ingrediente" value="pescado" >
									<label for="radio1">
										pescado
									</label><br>
								<input type="radio" id="radio2" name="ingrediente" value="chocolate">
									<label for="radio2">
										chocolate
									</label>
                <input type="radio" id="radio3" name="ingrediente" value="verduras">
									<label for="radio3">
										verduras
									</label>
	
							</form>
						</div>
						<h3>Dificultad</h3>
						<div id="divs" >
							<form name="dificultad"  onclick="showHint()">
								<input type="radio" id="radio4" name="dificulta" value="facil">
									<label for="radio4" >
										facil
									</label></br>
								<input type="radio" id="radio5" name="dificulta" value="media">
									<label for="radio5" >				
										media
									</label><br>
								<input type="radio" id="radio6" name="dificulta" value="alta">
								<label for="radio6" >
									alta
								</label>
							</form>
						</div>

						<h3>Plato</h3>
						<div id="divs">
							<form name="platos"  onclick="showHint()">
								<input type="radio" id="radio7" name="plato" value="principal" >
									<label for="radio7" >
											principal
									</label><br>
								<input type="radio" id="radio8" name="plato" value="postre" >
									<label for="radio8" >
											postre
									</label>
							</form>
             </div>
						
					</div>
				</div>

			</div>
</div>
<div class="grid_9 omega container" id="resultado">
  <%= render partial: "recipes" %>
</div>

		
