<% content_for :head do %>
<%= stylesheet_link_tag    "one_recipes", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'one_recipes' %>
<style>
	#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: absolute;
	padding: 4px 0;
	cursor: pointer;
	list-style: none;
}
#icons span.ui-icon {
	margin: 0 4px;
}
</style>
<%end%>
		<div class="grid_12 model3Titulo">
			<h1 id="tituloReceta"><%= @recipe.titulo %></h1> 		 
		</div>
		<div class="clear"></div>
		<div class="grid_4 alpha">
			<div class="grid_4 model3">
				<h2 id="tituloIngr">Ingredientes</h2>
				<%= @recipe.ingredientes %>
			</div>
		<div class="grid_4">
			<h2 id="tituloClaves">Claves de la receta</h2>
			<%= @recipe.datos %>
			<div class="grid_4">
				<a class="grid_1 comentar" href="#">Coméntala</a>
			
				<div class="grid_1 twitter">
					<a href="https://twitter.com/share" data-text="Holaaa" class="twitter-share-button" data-lang="en">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div>
					
			</div>
			<div class="grid_2 facebook">
					<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FElRecetario&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" ></iframe>
			</div>
		</div>
		</div>


		<div class="grid_8 omega">
			<div class="grid_8 model3">
				
				<ul id="icons" class="ui-widget ui-helper-clearfix">
					<li class="ui-state-default ui-corner-all" title=".ui-icon-play"><span class="ui-icon ui-icon-play"></span></li>
				</ul>
				<%= image_tag @recipe.imagen, class: "visible", id: "imgvide" %>
				<%= video_tag @recipe.video, class: "oculto", id: "vid",width: '500', height: '360', controls: true %>
			</div>
		
		<div class="clear"></div>	
			<div class="grid_7 model3">
				<h2 id="tituloPreparacion">Preparación de la receta</h2>
				<%= @recipe.descripcion %>
			</div>
		</div>
		<div class="clear"></div>	
		
		<div onclick="show()">
			<dl>
				<dt>Mira lo que comentan de la receta</dt>
				<dd><ul>
					<div id="resultado"></div>
					<li type="circle">
              <h3>Comenta la receta</h3>
              <div id="comments">
                <%= render @recipe.comments %>
              </div>
                <%= render file: 'comments/new' %>
					</li>
				</ul></dd>
			</dl>
		</div>
