/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
body {
	background: #def9f2;
	width: 760px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	vertical-align: baseline;			
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin-top: 8px;
	padding: 4px 0;
	cursor: pointer;
	list-style: none;
}
#icons span.ui-icon {
	margin: 0 4px;
}
label {
	border-radius: 6px;
	width:150px;
}
	
h3 {
	width:9.7em;
}
		
#divs {
	width:8em;
}

.containerSubmenu {
	width:100%;
	position:relative;
	color:black;
	margin-top: 0px;
	margin-bottom: 0px;
	word-wrap:break-word;
	overflow: hidden;
}

.container {
	background: #5AB7DF;
	color:black;
	margin-top: 0px;
	margin-bottom: 3px;
	word-wrap:break-word;
	overflow: hidden;
}
.model1 {
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
}

.model1 img {
	border: 4px 4px 4px;
	width: 140px;
	margin-left:40px;
	margin-bottom:5px;
}
		
.model1 a {
	margin-left:75px;
	margin-bottom:15px;
}

a {
	color: black;
}
		
.model1 h1 {
	margin-top:10px;
	margin-left:120px;
	font-size:40pt;
}

#logo {
	margin-left: 60px;
	border-radius: 50%;
	box-shadow: 0px 0px 15px #000;
	padding:0;
	border:0;
}

#containerMenu {
	color:black;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
}

#menu {
	margin-top:7px;
	position: absolute;
	margin-left: 32px;
	z-index: 999999;
}
		
#menu li a {
	text-decoration:none;
	padding: 5px 15px;
	font-weight: bold;
	color: #39AECF;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#menu li {
	background:#2f9d82;
	line-height:18px;
	font-size:13px;
	position:relative;
	float:left;
	font-size: 1.1em;
	padding: 0 15px 0 10px;
	color: darkslateblue;
	display:inline;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
		
		
#menu li:hover {
	color: rgb(255,255,255);
	background: rgba(25, 98, 80, 1);
}

#menu #seleccionado {
	background:rgba(25, 98, 80, 1);
}
		
#menu li ul {
	display:none;
	position:absolute;
	top:20px;
	width: 240px;
	padding:0;
	list-style-type:none;
	background: rgba(25, 98, 80, 1);
}
		
#menu li ul li {
	width: 200px;
	border: 1px solid #9c0101;
	border-top:none;
	padding: 10px 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: 3px 0px black;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
		
#menu li ul li:hover {
	color: rgb(255,255,255);
}
#menu li ul li:first-child {
	border-top: 1px solid #9c0101;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 3px 0px black;
}

#menu li ul li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 3px 3px 0px 1px black;
}
		
#menu li ul li a {
	width: 240px;
	margin: 0;
	padding:0;
}
#menu li ul li a:hover {
	width: 240px;
	margin: 0;
	color: #5AB7DF;
	background:none;
}

#topbg {
	background-color: #70f2d2;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 195px;
}
		
header {
	position: relative;
	width: 100%;
	height: 160px;
	background: #2f9d82;
}

footer {
	position: relative;
	background: #2f9d82;
	overflow: hidden;
	margin-bottom: 5px;
	width: 100%;
	height: 45px;
}
		
footer p {
	margin-top:15px;
	margin-left:-20px;
	color:white;
}

footer a {
	margin-top:15px;
	color:white;
}

hr {
	size:2;
	width:130%;
	color:white;
}
		
hr.separator { 
	height: 30px;
	border-style: solid;
	border-color: #BFBFBF;
	border-width: 2px 0 0 0;
	border-radius: 20px;
	text-align: center;
	font-family: ;
}

hr.separator:before {
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
    border-radius:20px;
}
 
hr.separator:after {
	color: #DC5500;
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

#background {
	background: #5AB7DF;
}
#menu2 {
	margin-top:-28px;
	position: absolute;
	margin-left: 723px;
	z-index: 999999;
}
		
#menu2 li a {
	text-decoration:none;
	padding: 5px 10px;
	font-weight: bold;
	color: #39AECF;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#menu2 li {
	background:#2f9d82;
	line-height:18px;
	font-size:13px;
	position:relative;
	float:left;
	font-size: 1.1em;
	padding: 0 15px 0 10px;
	color: darkslateblue;
	display:inline;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
		
		
#menu2 li:hover {
	color: rgb(255,255,255);
	background: rgba(25, 98, 80, 1);
}

#menu2 #seleccionado {
	background:rgba(25, 98, 80, 1);
}
		
#menu2 li ul {
	display:none;
	position:absolute;
	top:20px;
	width: 240px;
	padding:0;
	list-style-type:none;
	background: rgba(25, 98, 80, 1);
}
		
#menu2 li ul li {
	width: 200px;
	border: 1px solid #9c0101;
	border-top:none;
	padding: 10px 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: 3px 0px black;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
		
#menu2 li ul li:hover {
	color: rgb(255,255,255);
}
#menu2 li ul li:first-child {
	border-top: 1px solid #9c0101;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 3px 0px black;
}

#menu2 li ul li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 3px 3px 0px 1px black;
}
		
#menu2 li ul li a {
	width: 240px;
	margin: 0;
	padding:0;
}
#menu2 li ul li a:hover {
	width: 240px;
	margin: 0;
	color: #5AB7DF;
	background:none;
}
