label {
	border-radius: 6px;
	width:150px;
}
		
h3 {
	width:9.7em;
}
		
#divs {
	width:8em;
}		
		
.containerSubmenu {
	border: 2px solid #3588D2;
	height:565px;
	margin-top: 35px;
	margin-bottom: 3px;
}
		
.container {
	margin-top: 30px;
	overflow: visible;
}
		
.concurso img {
	border: 4px 4px 4px;
	width: 630px;
	height:280px;
	margin-top: 5px;
	margin-bottom:5px;
	margin-left:10px;
}
