.menu_slider { 
	position:absolute;
	margin-top:19em;
	margin-left:-45em;
}

#icons li {
	position: relative;
	
}

.prev{float:left;}
.next{float:right;}
#left {
	position: relative;
	float:left;
	margin-right: 29px;
}
	
.center{
	position: relative;
	margin-right: 37px;
}

#right {
	position: relative;
	float: right;
	margin-right: 80px;
}

.model1 {
	margin-top:12px;
}

.model2 img {
	border: 4px 4px 4px;
	width: 400px;
	margin-top: 40px;
	margin-left:40px;
	margin-bottom:20px;
}
		
.model2 p {
	margin-top:5px;
	margin-left:60px;
	margin-bottom:10px;
	font-size:20px;
	text-align:center;
}
		
.model2 h3 {
	margin-top:95px;
	margin-left:175px;
	font-size:35px;
}
		
.efect img {
	border-radius: 40% 0%;
	box-shadow: 0px 0px 15px #000;
	padding:1.5px;
	background: #FFF;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
		
.efect img:hover {
	border-radius: 0;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	cursor:pointer;
}
		
#contenidos  {
	margin-left: 195px;
}

		
.image {
	height:85px;
}
