.container {
	position:relative;
	width:300px;
	margin-left:0px;
}
#icons li {
	position: absolute;
}
.twitter, .comentar {
	position: relative;
	margin: 10px 0px 0px 45px;
}

.comentar {
	color:rgba(25, 98, 80, 1);
}
	
.facebook {
	position: relative;
	margin: 15px 0px 0px 95px;
}
				
.model3Titulo {
	margin-top: 35px;
}
		
.model3 {
	margin-top: 14px;
	margin-bottom: 0px;
	margin-left: 36px;		
}
		
.model3 img {
	width:500px;
}
		
.model3 li {
	margin-left:20px;
}
		
.model3 p {
	width:460;
}
		
br {
	line-height:1.8;
}
		
#tituloReceta {
	text-align:center;
	border: 3px solid rgba(25, 98, 80, 1);;
	position:relative;
	background:white;
	width:94%;
	margin-top:5px;
	margin-left:22px;
}
		
#tituloClaves {
	margin:55px 0px 3px 75px;
}
		
#tituloPreparacion {
	margin: 0px 0px 3px 150px;
}

#tituloIngr {
	margin:0px 0px 3px 65px;
}
		
.listarColumnas {
	margin-left:50px;
}
		
dl {
	margin: 40px auto 0px;
	width: 100%;
}
		
dt, dd {
	padding: 15px;
}
		
dt {
	background: #333333;
	color: white;
	border-bottom: 1px solid #141414;
	border-top: 1px solid #4E4E4E;
	cursor: pointer;
}
		
dd {
	background: #B1C7C8;
	line-height: 1.6em;
	font-family: sans-serif;
	margin: 0;
}
		
dt.activo, dt:hover {
	background: #424242;
}

dt:before {
	content: "?"; margin-right: 10px;
	margin-left:360px;
}
		
dt.activo:before {
	content: "?";
}
		
dd ul li {
	margin-left:30px;
}
		
.oculto {
	display: none;
}
		
.visible {
	display:block;
}
		

