.containerSubmenu {
	border: 2px solid #3588D2;
	height:530px;
	margin-top: 35px;
	margin-bottom: 3px;
}
				
.container2 {
	background: #5AB7DF;
	color:black;
	margin-top: 15px;
	margin-bottom: -132px;
	word-wrap:break-word;
	overflow: hidden;
}
			
.model2 p {
	margin-top:20px;
  margin-left: 0px;
	margin-bottom:10px;
}
		
.model2 h1 {
	margin-top:-145px;
}
		
.twitter {
  margin-left: 150px;
  margin-top: -40px;
}

.facebook {
	margin-left: 300px;
  margin-top: -40px;
}

.comentar {
  margin-top: -40px;
	color:rgba(25, 98, 80, 1);
}
		
.imgRecetas img {
	position:relative;
	overflow:visible;
	border: 4px 4px 4px;
	width: 200px;
	height:120px;
	margin-top: 40px;
	margin-bottom:20px;
	margin-left:30px;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

	
.imgRecetas img:hover {
	position:relative;
	overflow:visible;
	transform: scale(1,1) skew(5deg, -5deg) translate(-5px,-5px);
	-webkit-transform: scale(1,1) skew(5deg, -5deg) translate(-5px,-5px);
	-moz-transform: scale(1,1) skew(5deg, -5deg) translate(-5px,-5px);
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
