.containerSubmenu {
	border: 2px solid #3588D2;
	height:530px;
	margin-top: 35px;
	margin-bottom: 3px;
}
		
.model3 img {
	border: 4px 4px 4px;
	width: 100px;
  height: 70px;
	margin-top: 40px;
	margin-bottom:-25px;
	margin-left:30px;
	overflow:visible;
}
		
.model2 img {
	border: 4px 4px 4px;
	width: 110px;
	height: 80px;
	margin-top: 10px;
	margin-bottom:5px;
	margin-left:30px;
	overflow:visible;
}
		
.model2 p, .model3 p {
	margin-top:5px;
	margin-bottom:5px;
}
		
.model2 h1, .model3 h1 {
	margin-top:-50px;
}
