<!DOCTYPE html>
<html>
<head>
  <title>Elrecetario</title>
  <%= stylesheet_link_tag    "960", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "reset", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "jquery-ui-1.10.3.custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= javascript_include_tag 'jquery-1.9.1' %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="container_12" id="background">
		<div id="topbg"></div>
		<header>
			<div class="grid_12">
				<div class="grid_3 alpha model1">
					<%= image_tag "LOGO3.png", :id => "logo"%>
				</div>
				<div class="grid_6 omega model1">
					<font face="Curlz MT"><h1>EL RECETARIO</h1></font>
					<hr class='separator'/>
				</div>
        <div class="clear"></div>
        <div class="grid_12" id="menu2">
          <ul >
          <% if logged_in? %>
					  <li><%= link_to "Logout", "/logout" %></li>
          <% else %> 
            <li><%= link_to "Regístrate", "/signin" %></li>
					  <li><%= link_to "Login", "/login" %></li>
          <% end %>
          </ul>
        </div>
			</div>
		</header>
		<div class="clear"></div>
		<div id="containerMenu">
			<div class="grid_12" id="menu">
				<ul >
					<li id=<%=@home%> ><%= link_to "HOME", controller: "heads", action: "index" %></li>
					<li id=<%=@recip%> ><%= link_to "RECETAS", controller: "recipes", action: "index" %></li>
					<li id=<%=@learn%> ><a href="#">CURSOS</a></li>
					<li id=<%=@competiti%>><%= link_to "CONCURSOS", controller: "competitions", action: "index" %></li>
					<li id=<%=@tric%> ><%= link_to "¿SABÍAS QUE ...?", controller: "tricks", action: "index" %>
					<ul>
						<li id="trucos" onclick="hint()" value="trucos"><a href="sabias_que.html" >TRUCOS DE COCINA</a></li>
						<li id="sabias" value="info"><a href="sabias_que.html">INFORMACIÓN NUTRICIONAL</a></li>
						<li id="sabias" value="cocineros"><a href="sabias_que.html">COCINEROS PROFESIONALES</a></li>
						<li id="sabias" value="premios"><a href="sabias_que.html">PREMIOS DE COCINA</a></li>
					</ul>
					</li>
					<li id=<%=@speak%>><a href="#">CONTACTO</a></li>
				</ul>
			</div>
		</div>
		
		<div class="clear"></div>
			<%= yield %>
		<footer>
			<div class="grid_12 prefix_4">
				<p>El Recetario
					<a href="#">Política de protección de datos</a>
					|
					<a href="#">Condiciones de uso</a>
				</p>
			</div>
		</footer>
	</div>
</body>
</html>
